body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 320px;
  padding: 0 16px;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

header .container {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 149px;
}

.end-of-logo {
  color: #2e2f42;
}

.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

@media (max-width: 767px) {
  .page-nav {
    padding: 16px 0;
  }
}

.nav-list {
  display: flex;
  gap: 40px;
}

@media (max-width: 767px) {
  .nav-list {
    visibility: hidden;
    position: absolute;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link-first {
  color: #404bbf;
}

.nav-link-first::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.contact-block {
  font-style: normal;
  align-items: center;
  display: flex;
}

@media (max-width: 767px) {
  .contact-block {
    visibility: hidden;
    position: absolute;
  }
}

.contact-menu {
  display: flex;
  gap: 40px;
}

.contact-information {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information:hover,
.contact-information:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);
  max-width: 320px;
  padding: 72px 0;
}

@media (min-resolution: 192dpi) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg@2x.jpg);
  }
}

.main-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  max-width: 288px;
  padding: 0 40px;
}

@media (max-width: 767px) {
  .main-title {
    padding: 0 40px;
  }
}

.service {
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px #00000026;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 72px;
}

.service:hover,
.service:focus,
.subscribe-button:hover,
.subscribe-button:focus,
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
}

.second-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border: 1px solid rgba(142, 143, 153, 1);
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  position: absolute;
  visibility: hidden;
}

.about-us-list {
  display: flex;
  gap: 72px;
}

@media (max-width: 1157px) {
  .about-us-list {
    flex-wrap: wrap;
  }
}

.title {
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.title-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-weight: 500;
}

.third-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-team {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.item-team {
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
  border-radius: 0px 0px 4px 4px;
}

.card {
  padding: 32px 0;
  background-color: #fff;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  color: #2e2f42;
  margin-bottom: 8px;
}

.title-text-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: #ffffff;
  color: #434455;
  margin-bottom: 8px;
}

.card-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.card-socials-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.card-socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-socials-link:hover,
.card-socials-link:focus {
  background-color: #404bbf;
}

.icon,
.icon-socials {
  fill: #f4f4fd;
}

.fourth-section {
  padding: 96px 0;
}

.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.item-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.section-with-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .overlay {
  transform: translateY(0%);
  height: 300px;
}

.item-portfolio:hover {
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
}

.card-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-description {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.title-text-direction {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.tagline {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
  text-align: center;
}

.tagline-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.tagline-logo {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
}

.footer-logo {
  color: #f4f4fd;
}

.tagline-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.tagline-social-media {
  margin: 0 auto;
}

.tagline-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: #ffffff;
}

.tagline-socials-list {
  display: flex;
  gap: 16px;
}

.tagline-socials-item {
  width: 40px;
  height: 40px;
}

.tagline-socials-link {
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tagline-socials-link:hover,
.tagline-socials-link:focus {
  background-color: #31d0aa;
}

.tagline-icon-socials {
  fill: #f4f4fd;
}

.subscribe-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.tagline-input {
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  width: 288px;
  opacity: 0.3;
}

.tagline-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  font-family: "Roboto" sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  min-width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 623px;
  box-shadow: 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f,
    0px 1px 2px 0px #00000033;
  border-radius: 4px;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 288px;
  padding: 72px 16px 24px 16px;
}

.close-button {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #ffffff;
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.field-container {
  margin-bottom: 8px;
}

.mark {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-field {
  border: 1px solid #2e2f4266;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus {
  border-color: #4d5ae5;
}

.input-container {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-container:focus-within .form-icon {
  fill: #4d5ae5;
}

.comment-container {
  margin-bottom: 16px;
}

.form-field-comment {
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-mark {
  width: 16px;
  height: 16px;
  border: 1px solid #2e2f4266;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  position: relative;
  top: 8px;
}

input[type="checkbox"]:checked + label > span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-link {
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 1.33;
  padding-left: 24px;
}

.modal-button {
  font-weight: 500;
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px #00000026;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  min-height: 640px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 40px 16px;
  visibility: hidden;
  opacity: 0;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 168px;
}

.menu-link {
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-contact-block {
  font-style: normal;
}

.menu-contact-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 48px;
}

.menu-contact-information {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contact-information:hover,
.menu-contact-information:focus {
  color: #4d5ae5;
}

.menu-socials-list {
  gap: 40px;
}

.is-open {
  visibility: visible;
  opacity: 1;
}

.solid-menu {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .logo {
    margin-right: 120px;
  }

  .solid-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  .page-nav {
    margin-right: 122px;
    padding: 0;
  }

  .nav-list {
    visibility: visible;
    position: static;
  }

  .nav-link {
    padding: 24px 0;
  }

  .contact-block {
    visibility: visible;
    position: static;
  }

  .contact-menu {
    flex-wrap: wrap;
    gap: 12px;
  }

  .contact-information {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-1.jpg);
    max-width: 768px;
    padding: 112px 0;
  }

  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-1@2x.jpg);
    }
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    padding: 0;
    margin-left: 136px;
  }

  .about-us-list {
    gap: 24px;
    row-gap: 72px;
  }

  .about-us-item {
    width: calc((100% - 24px) / 2);
  }

  .title {
    text-align: left;
  }

  .list-team {
    gap: 24px;
  }

  .list-portfolio {
    column-gap: 24px;
    row-gap: 72px;
  }

  .item-portfolio {
    width: calc((100% - 24px) / 2);
  }

  .tagline {
    text-align: left;
  }

  .tagline-container {
    gap: 72px 24px;
    padding-left: 108px;
  }

  .tagline-text {
    max-width: 264px;
  }

  .tagline-social-media {
    margin: 0;
  }

  .subscribe-form {
    gap: 24px;
  }

  .tagline-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }

  /* .checkbox-container {
    margin-bottom: 24px;
  } */

  .checkbox-mark {
    position: static;
  }

  .modal-link {
    padding-left: 0;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }

  .logo {
    margin-right: 76px;
  }

  .page-nav {
    margin-right: auto;
  }

  .contact-menu {
    gap: 40px;
    flex-wrap: nowrap;
  }

  .contact-information {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .first-section {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    max-width: 1440px;
  }

  @media (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office@2x.jpg);
    }
  }

  .main-title {
    margin-left: 316px;
  }

  .service {
    margin-top: 48px;
  }

  .second-section {
    padding: 120px 0;
  }

  .icon-container {
    position: static;
    visibility: visible;
  }

  .about-us-list {
    flex-wrap: nowrap;
  }

  .about-us-item {
    width: calc((100% - 72px) / 4);
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .title-text {
    font-weight: 400;
  }

  .third-section {
    padding: 120px 0;
  }

  .item-team {
    width: calc((100% - 72px) / 4);
  }

  .fourth-section {
    padding: 120px 0;
  }

  .list-portfolio {
    row-gap: 48px;
  }

  .item-portfolio {
    width: calc((100% - 48px) / 3);
  }

  .tagline {
    padding: 100px 0;
  }

  .tagline-container {
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .tagline-logotype {
    margin-right: 120px;
  }

  .tagline-logo {
    margin-right: 0;
  }

  .footer-logo {
    color: #f4f4fd;
  }

  .tagline-social-media {
    margin-right: 80px;
  }

  .tagline-input {
    opacity: 1;
  }
}
